:root {
  --about-color: rgb(224, 219, 219);
}

.about-section {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-color: var(--about-color);

  width: 100%;
  color: black;
}
h1 {
  margin: 5px auto;
  text-align: center;
  color: black;
}
.about-section p {
  text-align: center;
}
