* {
  position: static;
}

body {
  height: 100%;
}

:root {
  --main-bg-color: white;
  --secondary-color: #1a272f;
  --primary-font: "Anek Telugu", sans-serif;
  --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none !important;
}

li a {
  text-decoration: none;
  color: azure;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  overflow-x: hidden;
}

.navbar {
  display: flex;
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  justify-content: space-between;
  position: static;
}

.nav-right {
  text-align: right;
  float: right;
  display: flex;
  flex-wrap: wrap;
}
.nav-center {
  width: 250px;
}
.nav-right li {
  margin: 10px;
  padding: 5px;
  border-radius: 5%;
}

.nav-right li:hover {
  background-color: white;
}

.nav-right li a:hover {
  background-color: white;
  color: black;
}

#buscar-input {
  max-width: 150px;
}

.navbar-left {
  margin-right: 100px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.navbar-left li {
  margin: 10px;
  padding: 5px;
  border-radius: 5%;
}

.navbar-left li:hover {
  background-color: white;
}

.navbar-left li a:hover {
  background-color: white;
  color: black;
}
.dropdown {
  position: relative;
}
.dropdown ul {
  position: absolute;
  max-height: 0px;

  overflow: hidden;
  padding: 0;
}
.dropdown:hover ul {
  max-height: 400px;
  transition: 0.5s;
  background-color: var(--secondary-color);
  top: 0;
}
.dropdown ul li {
  display: inline-block;
}
.dropdown ul li:hover {
  background-color: white;
}

.image-holder {
  max-width: 250px;
  max-height: 300px;
  margin: 10px;

  position: static;
  padding: 0;
}
.book-image {
  width: 100%;
  height: 100%;
  position: static;
  margin: 0 auto;
  border-radius: 5%;
}

aside {
  max-width: 350px;
  height: 100%;
  padding: 30px;
  top: 0;
  height: 100%;
  background-color: antiquewhite;
  display: inline-block;
  border: solid black 1px;
}
aside ul li a {
  color: black;
}
main {
  max-height: 100%;
  display: flex;
  margin-bottom: 50px;
}

.books {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 250px);
}

footer {
  width: 100%;
  max-height: 150px;
  padding: 30px;
  position: absolute;
  background-color: var(--secondary-color);
  margin-top: 100px;
}

.flex-footer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  bottom: 0;
}
