.details_image {
  width: 500px;
  height: 600px;
}

.titulo-img,
.book_body {
  width: 70%;

  margin: 30px auto;
  border-bottom: 0.5px solid black;
}

.book_body ul {
  border-bottom: 0.5px solid black;
}

.reseña {
  text-align: justify;
}
