{% extends 'layouts/base.html' %}

{% load static %}

{% block links %} <link rel="stylesheet" href="{% static '/styles/login-signup.css' %}"> {% endblock links %}

{% block mainblock %}

    <section class="form-main">
        <div class="form-content">
        
                <h3>Cambiar contraseña</h3>
                <form action="" method='POST'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type='submit'>Cambiar contraseña</button>
                    
                </form>
                
            </div>
        </div>
    </section>
{% endblock mainblock %}