footer {
  background-color: red;
  width: 100%;
}

.flex-footer {
  display: flex;
  height: 100px;
  margin: 0 auto;
  width: 70%;
  justify-content: space-around;
  list-style-type: none;
}

.flex-footer li a {
  text-decoration: none;
  color: white;
}
