{% extends 'layouts/base.html' %} <br />
{% load static %} <br />

{% block links %}<link
  rel="stylesheet"
  href="{% static '/styles/nosotros.css' %}"
/>{% endblock links %} <br />

{% block mainblock %}

<div class="about-section">
  <h1>Qúienes Somos</h1>
  <br />
  <br />
  <br />
  <h1 class="titulo">Nuestra Historia</h1>
  <h2>
    Book-Newlife proporciona una interfaz fácil a sus clientes para comprar el
    intercambiar libros en línea. Para cualquier consulta deja un comentario en
    el apartado de comentarios de la página de Inicio. También puede enviarnos
    un correo electrónico, gracias por preferirnos estamos trabajando para ser
    mejores
  </h2>
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<br />
<br />

<h2 class="our-team">Nuestro Equipo</h2>

<div class="cards-container">
  <div class="card">
    <img src="{% static 'images/Fotos-team/osman.png' %}" alt="desarrolador" />
    <p class="title">Desarrolador BackEnd</p>
    <p>Osman Barros</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
  </div>
  <div class="card">
    <img src="{% static 'images/Fotos-team/juan.png' %}" alt="desarrolador" />
    <p class="title">Desarrolador Fronted</p>
    <p>Juan Sebastian Velasquez</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
  </div>
  <div class="card">
    <img src="{% static 'images/Fotos-team/yinner.png' %}" alt="desarrolador" />

    <p class="title">Desarrolador BackEnd</p>
    <p>Yinner Stiven Chilito</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
  </div>
  <div class="card">
    <img
      src="{% static 'images/Fotos-team/johnnathan.jpg' %}"
      alt="desarrolador"
    />

    <p class="title">Desarrolador Fronted</p>
    <p>Johnnathan Hernandez</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
  </div>
  <div class="card">
    <img src="{% static 'images/Fotos-team/rafael.png' %}" alt="desarrolador" />

    <p class="title">Tester</p>
    <p>Rafael Ojito</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
  </div>
</div>
{% endblock mainblock %}
