{% extends 'layouts/base.html' %} <br />

{% block mainblock %}
<div class="details-box">
  <div class="titulo-img">
    <h2>{{object.titulo}}</h2>
    <div>
      {% if user.id == object.usuario_id %}

      <a href="{% url 'update_book' object.pk %}">Editar</a>
      <a href="{% url 'delete_book' object.pk %}">borrar</a>

      {% endif %} <br />

      <form action="{% url 'like_book' object.pk %}" method="POST">
        {% csrf_token %}

        <button
          type="submit"
          name="book_id"
          value="{{object.pk}}"
          class="like_button"
        >
          Me gusta
        </button>
      </form>
    </div>
    <img src="/media/{{object.libro_img}}" />
    <a href="{% url 'category' object.categoria %}"
      >{{object.categoria|slugify}}</a
    >
  </div>
  <ul>
    <li>Usuario: {{object.usuario}}</li>
    <li>Subido :{{object.fecha}}</li>
  </ul>
  <p>{{object.reseña|linebreaks}}</p>
</div>

{% endblock mainblock %}
