<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="css/categoria.css">
</head>
<body>
        <section id="portadas">
        <div class="box-list">
            <h5>Categorias:</h5>
            <ul>
                <li class="category-li"><a title="Cientificos" href=""><span>Cientificos</span></a></li>
                <li class="category-li"><a title="Literatura y lingüisticos" href=""><span>Literatura y lingüisticos</span></a></li>
                <li class="category-li"><a title="De viaje" href=""><span>De viaje</span></a></li>
                <li class="category-li"><a title="Biografias" href=""><span>Biografias</span></a></li>
                <li class="category-li"><a title="Libro de texto" href=""><span>Libro de texto</span></a></li>
                <li class="category-li"><a title="Libros de gran formato" href=""><span>Libros de gran formato</span></a></li>
                <li class="category-li"><a title="De referencia o consulta" href=""><span>De referencia o consulta</span></a></li>
                <li class="category-li"><a title="Monografias" href=""><span>Monografias</span></a></li>
                <li class="category-li"><a title="Recreativos" href=""><span>Recreativos</span></a></li>
                <li class="category-li"><a title="Poéticos" href=""><span>Poéticos</span></a></li>
                <li class="category-li"><a title="Juveniles" href=""><span>Juveniles</span></a></li>
                <li class="category-li"><a title="Ficción" href=""><span>Ficción</span></a></li>
                <li class="category-li"><a title="Comedia" href=""><span>Comedia</span></a></li>
            </ul>
        </div>
    </div>
    <div class="contenido">
        <h2 class="deal"><span>Nombre de la categoria</span></h2>
        <div class="books-flex"> 
            <div class="book">
                <a href="/book/17 " target="_blank" alt=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw4eRZE1o9VTFzi5lvDyP90BORssFVTwxsTJCQ4L4gJNSxj78rkoSandQmGAGz173uLGM&usqp=CAU"></a>
                <div class="info">
                    <h4>Juego de tronos-Choque de reyes</h4>
                    <p><b>Autor:</b> George R. R. Martin</p>
                    <p><b>Estado:</b> Excelente</p>
                    <p class="card-user">
                      <a href=""><b>Subido por:</b> admin2</a>
                    </p>
                  </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </section>

    
    
</body>

</html>