{% extends 'layouts/base.html' %} <br />
{% load static %} <br />

{% block links %}<link
  rel="stylesheet"
  href="{% static '/styles/about.css' %}"
/>{% endblock links %} <br />

{% block mainblock %}

<div class="about-section">
  <h1>Nosotros</h1>
  <p>
    Book-Newlife proporciona una interfaz fácil a sus clientes para comprar e
    intercambiar libros en línea
  </p>
  <p>
    Para cualquier consulta deja un comentario en el apartado de comentarios de
    la página de Inicio. También puede enviarnos un correo electrónico
  </p>
  <p>Gracias por preferirnos estamos trabajando para ser mejores</p>
</div>

<h2 class="our-team">Nuestro Equipo</h2>

<div class="cards-container">
  <div class="card">
    <img src="{% static '/images/user3.png' %}" alt="desarrolador" />
    <h2>nombre</h2>
    <p class="title">Desarrolador BackEnd</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
    <p>nombre@mail.com</p>
  </div>
  <div class="card">
    <img src="{% static '/images/user3.png' %}" alt="desarrolador" />
    <h2>nombre</h2>
    <p class="title">Desarrolador BackEnd</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
    <p>nombre@mail.com</p>
  </div>
  <div class="card">
    <img src="{% static '/images/user3.png' %}" alt="desarrolador" />
    <h2>nombre</h2>
    <p class="title">Desarrolador BackEnd</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
    <p>nombre@mail.com</p>
  </div>
  <div class="card">
    <img src="{% static '/images/user3.png' %}" alt="desarrolador" />
    <h2>nombre</h2>
    <p class="title">Desarrolador BackEnd</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
    <p>nombre@mail.com</p>
  </div>
  <div class="card">
    <img src="{% static '/images/user3.png' %}" alt="desarrolador" />
    <h2>nombre</h2>
    <p class="title">Desarrolador BackEnd</p>
    <p>“El único modo de hacer un gran trabajo es amar lo que haces”</p>
    <p>nombre@mail.com</p>
  </div>
</div>
{% endblock mainblock %}
